.heading {
  font-family: var(--font-primary);
  line-height: 150%;
}

.heading--sm {
  font-size: var(--fs-title-sm);   /* 18px */
  font-weight: var(--fw-medium);
}

.heading--md {
  font-size: var(--fs-title-md);   /* 23px */
  font-weight: var(--fw-bold);
}

.heading--lg {
  font-size: var(--fs-title-lg);   /* 50px */
  font-weight: var(--fw-bolder);
}

.heading--xl {
  font-size: var(--fs-title-xl);   /* 60px */
  font-weight: var(--fw-bolder);
}
